@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:wght@400;500;600;700;800&family=Raleway:ital,wght@0,500;1,400;1,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kavoon', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;;
}

main{
     max-width: 1300px;
    }

        /*CONTENIDO 1 */

.contenedor-1 {
    width: 100%;
    height: 100%;
    background-color: #00c2c4;
}

.contenedor-1 header{
    width: 100%;
    height: 12%;
    display: flex;
}
    
.contenedor-1 .header-izq{
    display: flex;
    width: 60%;
}
        
.contenedor-1 .header-izq .logo{
    width: 20%;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.contenedor-1 .fa-solid{
    display: none;
}

.contenedor-1 .logo a{
    text-transform: uppercase;
    color: #ffbe26;
    font-size: 2rem;
}

.contenedor-1 nav{
    width: 80%;
    display: flex;
}

.contenedor-1 nav ul{
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.contenedor-1 nav ul li{
    padding: .7em;
}

.contenedor-1 nav ul li a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
}


.contenedor-1 nav ul li a:hover{
    color: #ffbe26;
}

.contenedor-1 .header-der {
    width: 40%;
}

.contenedor-1 .header-der .redes{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}

.contenedor-1 .header-der .redes .red{
    padding: 0 10px;
    width: 40px;
    height: 40px;
    background-color: #46dfe1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
}

.contenedor-1 .header-der .redes .red:hover{
    background-color: #ffbe26;
}

.c1-contenido {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.c1-contenido .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c1-contenido .form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 40px;
}

.c1-contenido .form label{
    color: #ffffff;
    font-weight: bold;
}

.c1-contenido .img img{
    width: 450px;
    margin-top: 30px;
    object-fit: cover;
    filter: drop-shadow(1px 1px 5px rgb(237, 235, 235));
}

.c1-contenido .form h1 {
    width: 430px;
    font-size: 2.8em;
    color: #ffffff;
    text-transform: uppercase;
}

.c1-contenido .form p {
    color: #eaeaea;
    font-size: 1em;
    margin: 7px 0 28px;
}

.c1-contenido .form form {
    width: 430px;
    height: 315px;
    background-color: #33cfce;
    border: #ffffff5d 1px solid;
    padding: 25px;
}

.c1-contenido .form form input{
    font: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.c1-contenido .form form input{
    padding: 8px 14px;
    background-color: transparent;
    border:  #ffffff5d 1px solid;
    margin-top: 10px;
}

input::placeholder{
    color: #eaeaea;
    text-transform: capitalize;
    font: 12px;
}

.f1{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.f2{
    display: flex;
    width: 100%;
}

.in1{
    margin-right: 5px;
    margin-top: 15px;
}

.in2{
    margin-top: 15px;
    margin-right: 5px;
}

.c1-contenido .form form .btn-1{
    width: 100%;
    background-color: #ffbe26;
    cursor: pointer;
    letter-spacing: 5px;
    box-shadow: 1px 1px 5px gray;
}

.c1-contenido .form form .btn-1:hover{
    font-weight: bold;
    border: 1px solid #ffffff;
}


@media (max-width: 961px){

    .contenedor-1{
        width: 100%;
        height: auto;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .c1-contenido {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .c1-contenido .form{
        margin-bottom: 20px;
    }

    .c1-contenido .form h1 {
        text-align: center;
    }

    .c1-contenido .form{
        align-items: center;
    }

    .contenedor-1 .c1-contenido .img img{
        margin-top: 0;
    }


}

@media (max-width: 831px){

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .contenedor-1 .header-izq { 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .contenedor-1 .header-izq .logo {
        width: 100%;   
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0;
    }

    .c1-contenido .img {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c1-contenido .form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .contenedor-1 .header-der {
        width: 100%;
    }
    
    .contenedor-1 .header-der .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }

    .contenedor-1 .header-izq nav{
        width:100%;
    }
    .contenedor-1 .header-izq nav ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        padding: 12px;
        flex-wrap: wrap;
    }

    .contenedor-1 .header-izq nav ul li a{
        font-size: 26px;
    }

    .contenedor-1 .header-izq nav ul li:first-child{
   display: none;
    }

    .c1-contenido .form{
        margin: 20px 0 0 0;
    }

    .contenedor-1 nav ul li{
        padding: .3em;
    }

}

@media (max-width: 460px){
    .contenedor-1 .c1-contenido form{
        width: 100%;
    }
    .c1-contenido .img {
        width: 60%;
    }

    .c1-contenido .img img {
        width: 100%;
        margin: 15px 0;
    }
}
    
  
        /*CONTENIDO 2 */

.contenedor-2{
    background-color: #01e1e0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.contenedor-2 h2{
    color: #ffffff;
    font-size: 2.8em;
    text-align: center;
    padding: 0 15px0;
}

.contenedor-2 .contenedor-desayuno{
    padding-top: 40px;
}

.contenedor-2 .contenedor-desayuno .desayuno-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-2 .contenedor-desayuno .desayuno-contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 48px;
}

.contenedor-2 .contenedor-desayuno .desayuno-contenido h3{
    color: #00949e;
    font-size: 2.2em;
}

.contenedor-2 .contenedor-desayuno .desayuno-contenido p{
    padding: 30px 0 46px ;
    font-size: 16px;
    color: #EAEAEA;
    line-height: 26px;
}
.contenedor-2 .contenedor-desayuno .desayuno-contenido a{
    background-color:transparent;
    cursor: pointer;
    letter-spacing: 5px;
    box-shadow: 1px 1px 5px gray;
    padding: 8px 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.contenedor-2 .contenedor-desayuno .desayuno-contenido a:hover{
background-color: #ffbe26;
}

.contenedor-2 .contenedor-desayuno .desayuno-img img {
    width: 70%;
}

.contenedor-2 .contenedor-desayuno {
    display: flex;
}

@media (max-width: 700px){
    .contenedor-desayuno{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .contenedor-2 .contenedor-desayuno .desayuno-contenido {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

        /*CONTENEDOR 3 */

.contenedor-3 {
    width: 100%;
    height: 100%;
    background-color: #00c2c4;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-3 h2{
    font-size: 36px;
    color: #00949e;
    margin-bottom: 30px;
    text-align: center;
}

.contenedor-3 .contenedor-amarillo{
    height: 425px;
    display: flex;
    padding: 30px;
    background-color: #ffbe26;
    margin: 0 150px;
}

.contenedor-3 .contenedor-amarillo .c3_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.contenedor-3 .contenedor-amarillo .c3_contenido h3{
    font-size: 2.8em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
}

.contenedor-3 .contenedor-amarillo .c3_contenido p{
    font-size: 16px;
    color: #505050;
    margin-bottom: 25px;
    font-size: 16px;;
    line-height: 26px;
}

.contenedor-3 .contenedor-amarillo .c3_contenido a{
    background-color: #00c2c4;
    cursor: pointer;
    letter-spacing: 5px;
    box-shadow: 1px 1px 5px gray;
    padding: 8px 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.contenedor-3 .contenedor-amarillo .c3_contenido a:hover{
    background-color: #ffffff;
    color: #00c2c4;
}

.contenedor-3 .contenedor-amarillo .c3_img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-3 .contenedor-amarillo .c3_img img{
    width: 400px;
    height: 250px;
    padding: 0 15px;
}



@media (max-width: 700px){


    .contenedor-3 .contenedor-amarillo {
        width: 85%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .contenedor-3 .contenedor-amarillo .c3_contenido {
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

        /*CONTENEDOR-4*/


        .contenedor-4{
            width: 100%;
            height: 100%;
            background-color: #01e1e0;
        }

        .contenedor-4 h2{
            font-size: 36px;
            color: #00949e;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 40px;
        }

        .contenedor-4 .c4_datos{
            display: flex;
            justify-content: space-between;
            padding: 35px 80px;
        }

        .contenedor-4 .c4_datos .c4_3datos{
            display: flex;
        }

        .contenedor-4 .c4_datos .c4_3datos .c4_dato{
            padding-right: 40px;
            padding-left: 40px;
            border-right: 2px solid #ffbe26;
        }

        .contenedor-4 .c4_datos .c4_dato{
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: center;
        }

        .contenedor-4 .c4_datos .c4_dato h3 {
            font-size: 38px;
            color: #ffffff;
        }

        .contenedor-4 .c4_datos .c4_dato h4 {
            font-size: 16px;
            color: #EAEAEA;
        }

        .contenedor-4 .c4-contenedor {
            display: flex;
        }

        .contenedor-4 .c4-contenedor a{
            background-color:transparent;
            cursor: pointer;
            letter-spacing: 5px;
            box-shadow: 1px 1px 5px gray;
            padding: 8px 14px;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
        }

        .contenedor-4 .c4-contenedor a:hover{
            background-color: #ffbe26;
        }

        .contenedor-4 .c4-contenedor .c4_contenido{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 35px;
            margin-left: 40px;
        }

        .contenedor-4 .c4-contenedor .c4_contenido p{
            font-size: 16px;
            color: #ffffff;
            line-height: 28px;
            margin: 0 0 40px 0;
        }

        .contenedor-4 .c4-contenedor .c4-img{
            width: 50%;
            display: flex;
            justify-content: center;
            padding-right: 50px;
        }

        .contenedor-4 .c4-contenedor .c4-img img{
            width: 380px;
        }

        @media (max-width: 890px){
            .contenedor-4 .c4_datos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
            }

            .contenedor-4 .c4_datos .c4_dato{
                border-right: none;
                align-items: center;
            }
            
            .contenedor-4 .c4_datos .c4_3datos .c4_dato:nth-child(3){
                border-right: none;
            }

            .contenedor-4 .c4-contenedor{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .contenedor-4 .c4-contenedor .c4_contenido{
                width: 80%;
                align-items: center;
            }

    }
